body{
    background-color: black;
    font-family: "Roboto Serif", serif;
    font-size: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 50px;
}
.post{
    background-color:white;
    width: 500px;
    height: 600px;

}
.titulo{
    margin: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.fa-brands{
    margin-top: 5px;
    float:left;
    font-size: 30px;
}
.fa-solid{
    margin-top: 3px;
    font-size: 30px;
}

.letras{
    display: flex;
    flex-direction: column;

}
p{
    margin: 0px;
}
img{
    width: 100%;
    height: 50%;
}
.bo{
    font-size: 25px;
    margin: 10px;
    background-color: white;
}
.fa-bookmark{
    float: right;
}
.likes{
    margin: 20px;
    background-color: white;
}
.tex{
    margin:20px;
    background-color: white;
}
